# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE / Editor
*.iml
*.ipr
*.iws
.idea/
# .vscode/  # Descomente se quiser versionar configurações do VS Code

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json
